{% extends 'main_page.html' %}
{% block content %}
    <!-- Title -->
    <h1 class="mt-4">{{ artist.name }}</h1>

    <hr>
    <!-- Preview Image -->
    <img class="img-fluid rounded" src="{{ artist.image }}" alt="{{ artist.name }}">

    <hr>
    <!-- Info -->
    <h6>Place of birth</h6>
    <p>{{ artist.place_of_birth }}</p>
    <h6>Date of Birth</h6>
    <p>{{ artist.date_of_birth }}</p>
    <h6>Education</h6>
    <p>{{ artist.education }}</p>

    <hr>

    <!-- Description -->
    <h5>Biography</h5>
    <p class="lead">{{ artist.biography }}</p>
    <hr>

{% endblock %}
