{% extends 'main_page.html' %}
{% block content %}
    <!-- Title -->
    <h1 class="mt-4">{{ artwork.name }}</h1>
    <p class="lead">
        by
        <a href="{% url "artist_page" artwork.artist %}">{{ artwork.artist_name }}</a>
    </p>
    <hr>
    <!-- Preview Image -->
    <img class="img-fluid rounded" src="{{ artwork.image }}" alt="{{ artwork.name }}">

    <hr>
    <!-- Info -->
    <h6>Kind of work</h6>
    <p>{{ artwork.kind_of_work }}</p>
    <h6>Date</h6>
    <p>{{ artwork.date }}</p>
    <h6>Measurements</h6>
    <p>{{ artwork.height }}x{{ artwork.width }}x{{ artwork.volume }}</p>

    <hr>

    <!-- Description -->
    <p class="lead">{{ artwork.description }}</p>
    <hr>
{% endblock %}
