{% extends 'main_page.html' %}
{% block content %}
    <!-- Title -->
    <h1 class="mt-4">{{ exhibition.name }}</h1>

    <hr>
    <!-- Preview Image -->
    <img class="img-fluid rounded" src="{{ exhibition.image.url }}" alt="{{ exhibition.name }}">

    <hr>
    <!-- Info -->
    <h6>Kind</h6>
    <p>{{ exhibition.kind }}</p>
    <h6>Date</h6>
    <p>{{ exhibition.date }}</p>

    <hr>

    <!-- Description -->
    <p class="lead">{{ exhibition.description }}</p>
    <hr>
    <h5>Artworks</h5>

    {% for artwork in exhibition.get_artworks %}
        <a href="{% url "artwork_page" artwork.id %}">
            <img src="{{ artwork.image.url }}" class="rounded img-thumbnail" alt="Artwork">
        </a>
        <a href="{% url "artwork_page" artwork.id %}">
            <p>{{ artwork.name }}</p>
        </a>
    {% endfor %}

    <hr>

{% endblock %}
