{% extends 'main_page.html' %}
{% block content %}
    <h1 class="my-4">Owners</h1>
    {% for owner in owner_list %}
    <!-- Blog Post -->
    <div class="card mb-4">
        <img class="card-img-top" src="{{ owner.image.url }}" alt="Owner">
        <div class="card-body">
            <h2 class="card-title">{{ owner.name }}</h2>
            <p class="card-text">{{ owner.description }}</p>
            <a href="{% url "owner_page" owner.id %}" class="btn btn-primary">More &rarr;</a>
            <a class="btn btn-primary" href={% url "delete_owner" owner.id %}>Delete</a>
            <a class="btn btn-primary" href={% url "edit_owner" owner.id %}>Edit</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
{% block manage %}
    <a class="btn btn-primary" href={% url 'create_owner' %}>Create</a>
{% endblock %}