{% extends 'common.html' %}
{% block manage %}
    <a class="botr" href={% url 'create_owner' %}>Create</a>
{% endblock %}
{% block table %}
    <tr>
        <td>Name</td>
        <td>Address</td>
        <td>Phone</td>
        <td>Description</td>
        <td>Delete</td>
        <td>Edit</td>
    </tr>
    {% for owner in owner_list %}
        <tr>
            <td>{{ owner.name }}</td>
            <td>{{ owner.address }}</td>
            <td>{{ owner.phone }}</td>
            <td>{{ owner.description }}</td>
            <td><a href={% url "delete_owner" owner.id %}>Delete</a></td>
            <td><a href={% url "edit_owner" owner.id %}>Edit</a></td>
        </tr>
    {% endfor %}
{% endblock %}
